<h1>НетМагазин</h1>

<a href="/">Главная</a>
<a href="/products">Товары</a>
<a href="/aboutus">О нас</a>

<div style="border: 1px black solid">
    <h2>Люстра</h2>
    <img src="https://lightstar.ru/image/cache/import_files/21/21c007da42b311e68111c81f66f678b0_01708609f51411e68114c81f66f678b0-350x350.webp"/>
    <p>Люстра - это светильник</p>
</div>

<div style="border: 1px black solid">
    <h2>Компьютер</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1ILCnXo4vNx1w8T9kFFFgsP-XW_GNHaT85w&s"/>
    <p>Lorem Ipsum</p>
</div>